/* 
Palette Color
Primary
Principal: #616161
Light: #8e8e8e
Dark: #373737

Secondary 
Principal: #b71c1c
Light: #f05545
Dark: #7f0000

Text #ffffff
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../imagenes/Viejo\ 4.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-size: cover top;
    color: #ffffff;
}
header{
    height: 10vh;
}
nav{
    top: 0;
    position : fixed;
    background-color: rgba(55, 55, 55, 0.9);
    width: 100%;
    padding: 0.5vh;
    height: 10vh;
}
nav img{
    width: 9vh;
    margin-left: 2vh;
}

nav ul {
    float: right;
    margin-top: 1vh;
    margin-right: 2vh;
}
nav ul li{
    text-decoration: none;
    padding: 1.5vh;
}
nav ul li a{
    height: 1vh;
    color: #ffffff;
}
nav ul li a:hover{
    color: #f05545;
}
section{
    padding-top: 2vh;
    padding-bottom: 3vh;
    border-radius: 5vh;
    border-width: 5vh;
    border-color: #7f0000;
    margin-top: 3vh;
    margin-bottom: 5vh;
    background-color: rgba(55, 55, 55, 0.9);
}
section h1{
    text-align: center;
}
footer{
    background-color: rgba(150, 18, 18, 0.9);
    height: 5vh;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer div a img{
    width: 4vh;
    margin: 0.5vh;
}

footer div a :hover{
    width: 5vh;
    margin: 0vh;
}
.centrado{
    align-content: center;
    text-align: center;
}
.espacio{
    margin-top: 10vh;
}
.historia{
    text-align: justify;
}
.disco{
    width: 44vh;
    border-radius: 3vh;
    margin: 0vh;

}
hr{
    color: #7f0000;
    opacity: 1;
    border-radius: 10vh;
    border: 0.3vh;
    border-style: solid;
}
iframe{
    width: 90%;
    border-radius: 4vh;
}
.discografia p{
    line-height: 1vh;
}

.carousel-inner img{
    object-fit: cover ;
    object-position: top;
    height: 55vh;
    width: 100%;
    border-radius: 4vh;
}
.carousel-inner iframe{
    height: 55vh;
    
}
.carousel-inner{
    height: 55vh;
    margin: 0;
}
.splash{
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 3vh;
    text-align: center;
    align-content: center;
    
}
.final{
    height: 1vh;
}